https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

In [1]:
#write using csv reader
import csv

with open('details.tsv', 'w') as file:
    tsv_writer = csv.writer(file, delimiter='\t')
    tsv_writer.writerow(['NAME', 'CITY'])
    tsv_writer.writerow(['Shubham', 'Delhi'])
    tsv_writer.writerow(['Andy', 'Pune'])
    tsv_writer.writerow(['Sara', 'Kolkata'])

In [2]:
#read using csv reader
import csv

with open('details.tsv', 'r') as file:
    reader = csv.reader(file)
    for row in file:
        print(row)

NAME	CITY



Shubham	Delhi



Andy	Pune



Sara	Kolkata

In [3]:
import pandas as pd

# creating a data frame
df = pd.DataFrame([['BMW', 24000], ['Audi', 22000]], columns = ['Name', 'Price'])

# writing data frame to a TSV file
df.to_csv('cars.tsv')

In [4]:
#read using panda
import pandas as pd
file = pd.read_csv("cars.tsv",sep="\t" )## if header is not present in csv file then we will use header=None
file.head()

    ,Name,Price
0   0,BMW,24000
1  1,Audi,22000